.modal-left {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 35%;
    height: 100vh;
    z-index: 50;
    background-color: #fff;
    /* transform: translate(-100%, 0); */
    /* transition: transform 0.2s ease-in; */
    animation: leftSlide 0.3s ease;
}

.modal-right {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 35%;
    height: 100vh;
    z-index: 50;
    background-color: #fff;
    /* transform: translate(100%, 0);
    transition: transform 0.2s ease-in; */
    animation: rightSlide 0.3s ease;
}

.show-modal {
    transform: translate(0, 0);
}

@keyframes leftSlide {
    from  {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes rightSlide {
    from  {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
