.model {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 35%;
    height: 100vh;
    z-index: 50;
    /* background-color: #fff; */
}

.model-left {
    left: 0;
    animation: leftSlideShow 0.4s ease-in-out;
}

.model-right {
    right: 0;
    animation: rightSlideShow 0.4s ease-in-out;
}

.hide-left-model {
    animation: leftSlideHide 0.4s ease-in-out forwards;
}

.hide-right-model {
    animation: rightSlideHide 0.4s ease-in-out forwards;
}

@keyframes leftSlideShow {
    from  {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes rightSlideShow {
    from  {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes leftSlideHide {
    from  {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes rightSlideHide {
    from  {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@media screen and (max-width: 768px) {
    .model {
        width : 80%;
    }
}
