@import "tailwindcss";

@theme {
    --color-primary: #ff5200;
}

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .main-large {
        height: 20vh;
        width: 20vh;
        border-radius: 50%;
        border: 0.5em solid white;
        border-top-color: #ff5200;
        background-color: transparent;
        animation: loader 1s ease infinite;
    }

    .main-small {
        height: 4.5vh;
        width: 4.5vh;
        border-radius: 50%;
        border: 0.3em solid white;
        border-top-color: black;
        background-color: transparent;
        animation: loader 1s ease infinite;
    }

    @keyframes loader {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .notFirst-notLast>div:not(:first-child):not(:last-child) {
        border-top: none;
    }

    .shimmerBg {
        position: relative;
        animation: bgChange 1.5s ease-in infinite;
    }

    @keyframes bgChange {
        0% {
            background-color: #cfd1d1;
        }

        50% {
            background-color: #b2b2b4;
        }

        100% {
            background-color: #cfd1d1;
        }
    }

    @keyframes shimmer {
        0% {

            left: -30px;
        }

        100% {
            left: 120%;
        }
    }
}

@layer base {

    h1 {
        font-weight: 750;
        font-size: 27px;
    }

    h3 {
        font-weight: 750;
        font-size: 25px;
    }

    h2 {
        font-weight: 750;
        font-size: 21px;
    }
}

.progress-style {
    background-color: black;
}

.pretty-scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.pretty-scrollbar::-webkit-scrollbar {
    width: 0.8vw;
}

.pretty-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ff5200;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .main-large {
        height: 9vh;
        width: 9vh;
        border-width: 0.3em;
    }

    .pretty-scrollbar::-webkit-scrollbar {
        width: 0.5vw;
    }
}