@import "tailwindcss";

@theme {
    --color-primary: #ff5200;
}

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .main-large {
        height: 20vh;
        width: 20vh;
        border-radius: 50%;
        border: 0.5em solid white;
        border-top-color: #ff5200;
        background-color: transparent;
        animation: loader 1s ease infinite;
    }

    .main-small {
        height: 4.5vh;
        width: 4.5vh;
        border-radius: 50%;
        border: 0.3em solid white;
        border-top-color: black;
        background-color: transparent;
        animation: loader 1s ease infinite;
    }

    @keyframes loader {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .notFirst-notLast > div:not(:first-child):not(:last-child) {
        border-top:none;
    }
}

@layer base {
    h3 {
        font-weight: 750;
        font-size: 25px;
    }

    h2 {
        font-weight: 750;
        font-size: 21px;
    }

}

body {
    scrollbar-gutter: stable;
}